<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Configuration section-handler declaration area. -->
  <configSections>
    <section name="lessUACRunner" type="LessUACRunner.Console.AllowedAppsSection, LessUACRunnerConsole"/>
  </configSections>

  <appSettings>
    <add key="PipeConnectTimeOut" value="10000" />
    <add key="ServiceDisplayName" value="@APP_NAME@" />
    <add key="ServiceDescription" value="@APP_DESC@" />
    <add key="EncryptionProvider" value="DataProtectionConfigurationProvider" />
  </appSettings>

  <lessUACRunner configSource="LessUACRunner.config" />

  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <system.diagnostics>
    <switches>
      <!-- 
             
            This switch controls general messages. In order to 
            receive general trace messages change the value to the 
            appropriate level. 
             
            "0" Off
            "1" Error messages
            "2" Warning, gives Error and Warning messages
            "3" Information, gives Error, Warning and Information messages
            "4" Verbose, gives Error, Warning, Information and Verbose messages
             
            -->
      <add name="LessUACRunnerConsole.TraceLevelSwitch" value="4" />
    </switches>

    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="LessUACRunnerConsole.Listener" type="System.Diagnostics.TextWriterTraceListener" initializeData="./logs/console.log"/>
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>

